*out
*out/*
*.tkenvrc
Presentazione.log
Presentazione.synctex.gz
Presentazione.aux
Presentazione.out
Presentazione.pdf
Presentazione.nav
Presentazione.snm
Presentazione.toc

tictoc/tictoc
progetto/progetto
DPS/DPS
